[package]
name = "build-wrap"
version = "0.1.0"
authors = ["Samuel Moelius <sam@moeli.us>"]
description = "Help protect against malicious build scripts"
edition = "2021"
license = "AGPL-3.0"
repository = "https://github.com/trailofbits/build-wrap"

[dependencies]
anyhow = "1.0"
tempfile = "3.10"

[dev-dependencies]
assert_cmd = "2.0"
cargo_metadata = "0.18"
ctor = "0.2"
once_cell = "1.19"

[lints.clippy]
pedantic = { level = "warn", priority = -1 }
missing_errors_doc = "allow"
missing_panics_doc = "allow"
